@import "tailwindcss";

@theme {
    --color-text: #353B3B;
    --color-background: #FFF9F3;
    --color-primary: #F4E4C2;
    --color-secondary: #EDD282;
    --color-accent: #4FE2A5;

    --color-text-75: rgba(53, 59, 59, .75);

    --color-background-75: rgba(255, 249, 243, .75);

    --color-accent-85: rgba(79, 226, 165, .85);

    --font-crimson-text: "Crimson Text", serif;
    --font-uncial-antiqua: "Uncial Antiqua", system-ui;
    --font-vampiro-one: "Vampiro One", system-ui;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('./assets/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Uncial Antiqua';
    src: url('./assets/fonts/Uncial_Antiqua/UncialAntiqua-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Vampiro One';
    src: url('./assets/fonts/Vampiro_One/VampiroOne-Regular.ttf') format('truetype');
}

/*#region Réutilisables*/
.btn {
    height: fit-content;
    padding: 16px 40px;
    border-radius: 5px;
    font-family: var(--font-uncial-antiqua);
    font-size: 24px;
    letter-spacing: 10%;
    cursor: pointer;
}

.btn-accent {
    background: var(--color-accent);
    color: var(--color-text)
}

.btn-accent:hover {
    background: var(--color-text);
    color: var(--color-accent);
    outline: 3px solid var(--color-accent);
}

.btn-text {
    background: var(--color-text);
    color: var(--color-accent);
}

.btn-text:hover {
    background: var(--color-accent);
    color: var(--color-text);
    outline: 3px solid var(--color-text);
}

/*#endregion*/

/*#region Accueil*/
.linear-home {
    background: linear-gradient(180deg, rgba(255, 249, 243, 0) 0%, rgba(255, 249, 243, 1) 100%);
}

.scotch {
    position: absolute;
    width: 330px;
    height: 65px;
    margin-top: -32px;
    margin-left: 54px;
    border-radius: 3px;
    background: rgba(244, 228, 194, .80);
}

.diceBg {
    height: 260px;
    background-image: url('./assets/images/dice.png');
    background-color: var(--color-background);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: difference;
}

/*#endregion*/

/*#region S'inscrire & Se connecter*/

.registerBlock,
.loginBlock {
    height: calc(100vh - 124px);
}

.registerImg,
.loginImg {
    background-color: var(--color-background);
    background-size: cover;
    background-blend-mode: luminosity;
}

.registerImg {
    background-image: url('assets/images/register.jpg');
}

.loginImg {
    background-image: url('assets/images/login.jpg');
}

.registerGradient {
    background: linear-gradient(90deg, rgba(79, 226, 165, 1) 0%, rgba(79, 226, 165, 0) 100%);
    opacity: .5;
}

.loginGradient {
    background: linear-gradient(-90deg, rgba(79, 226, 165, 1) 0%, rgba(79, 226, 165, 0) 100%);
    opacity: .5;
}

/*#endregion*/

/*#region Index*/

/*#endregion*/